<!DOCTYPE html>
<html>

<head>
	<title>User Info App</title>
	<link rel="stylesheet" type="text/css" href="./css/style.css">
</head>

<body>

	<header>
		<h1>Home</h1>
		<div class="navbar-header">
			<a href="/">Home</a>
			<a href="users">All Users</a>
			<a href="search">Search</a>
			<a href="addUser">Add User</a>
		</div>
	</header>
	<section>
		<p> <h3>	Welcome to the home page of the user information app.</h3>
		</p>


		<script type="text/javascript" src="index.js"></script>
	</section>
	<footer>
		created by: Baukje Knol
	</footer>
</body>

</html>
